.title-projects{
    color: rgb(205, 231, 255);
    margin-top: 10vh;
    text-align: center;
}

.title-projects:hover{
    color: white;
}

.project-cards{
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.project-title{
    color: rgb(205, 231, 255);
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 300;
    font-size: 3vh;
    transition: 0.2s;
}

.project-title:hover{
    color: rgb(20, 196, 255);
    transition: 0.2s;
}


.project-image{
    width: 100%;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgb(0, 0, 0);
    opacity: 0.9;
    height: 500px;
    transition: 0.2s;
}

.project-image:hover{
    opacity: 1;
    box-shadow: 5px 5px 10px rgba(0, 255, 217, 0.404);
    transition: 0.2s;
    cursor: pointer;
}

a{
    text-decoration: none;
}

p{
    color: rgb(255, 255, 255);
    font-size: 2vh;
    margin-bottom: 5vh;
}

@media (min-width: 500px) and (max-width: 900px) {
    .project-cards{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        gap: 2vh;
        margin-top: 1vh;
        text-align: center;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .project-image{
        width: 100%;
        border-radius: 10px;
        box-shadow: -5px -5px 10px rgb(0, 0, 0);
        opacity: 0.9;
        height: 300px;
    }

    .project-title{
        font-size: 2.5vh;
    }

    p{
        font-size: 2vh;
    }
  }

  @media (min-width: 390px) and (max-width: 844px) {
    .project-cards{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        gap: 2vh;
        margin-top: 1vh;
        text-align: center;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .project-image{
        width: 100%;
        border-radius: 10px;
        box-shadow: -5px -5px 10px rgb(0, 0, 0);
        opacity: 0.9;
        height: 200px;
    }

    .project-title{
        font-size: 2.5vh;
    }

    p{
        font-size: 2vh;
    }
  }