.contact-title {
  color: rgb(205, 231, 255);
  margin-top: 10vh;
  margin-bottom: 2vh;
  text-align: center;
}

.contact-section {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.contact-information{
    text-align: center;
    text-decoration: none;
    color: rgb(245, 245, 245);
    margin-bottom: 2vh;
}

.contact-information h3 a:hover{
    color: rgb(20, 196, 255);
    transition: 0.2s;
  }

  .contact-information h3 a{
    transition: 0.2s;
  }

a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}


@media (min-width: 500px) and (max-width: 900px) {
  .contact-section {
    margin-left: 2vh;
    margin-right: 2vh;
  }
}

@media (min-width: 390px) and (max-width: 844px) {
  .contact-section {
    margin-left: 2vh;
    margin-right: 2vh;
  }
}