.experience-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start; 
    gap: 2vh;
    margin-top: 10vh;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture img{
    margin-top: 2vh;
    width: 90%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.container-navbar a {
    transition: 0.2s;
}

.title{
    color: rgb(205, 231, 255);
    font-size: 7vh;
    transition: 0.5s;
}

.subtitle{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.linkedin-icon {
    display: flex;
    margin-top: 2vh;
    gap: 2vh;
    align-items: center;
}

.icon {
    color: rgba(255, 255, 255, 0.6);
    font-size: 2.5vh;
    transition: 0.5s;
}

.icon:hover {
    color: white;
    transition: 0.5s;
}

.flag-icon img{
    width: 4vh;
    height: 4vh;
    transition: 0.5s;
    opacity: 0.5;
    margin: 0;
}

.flag-icon img:hover{
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.hr{
    height: 20px;
}

@media (min-width: 500px) and (max-width: 900px) {
    .experience-grid{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        gap: 2vh;
        margin-top: 10vh;
        text-align: center;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .title{
        font-size: 4vh;
    }
    .profile-picture {
        width: 50%;
        height: 50%;
    }

    .subtitle{
        font-size: 2.5vh;
    }
  }

  @media (min-width: 380px) and (max-width: 844px) {
    .experience-grid{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        gap: 2vh;
        margin-top: 10vh;
        text-align: center;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .title{
        font-size: 5vh;
    }

    .profile-picture {
        width: 50%;
        height: 50%;
    }

    .subtitle{
        font-size: 2.5vh;
    }
  }

@media  (min-width: 375px) and (max-width: 389px) {
    .experience-grid{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        gap: 2vh;
        margin-top: 10vh;
        text-align: center;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .title{
        font-size: 5vh;
    }

    .profile-picture {
        width: 50%;
        height: 50%;
    }

    .subtitle{
        font-size: 2.5vh;
    }
  }

  @media (min-width: 300px) and (max-width: 389px) {
    .experience-grid{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        gap: 2vh;
        margin-top: 10vh;
        text-align: center;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .title{
        font-size: 5vh;
    }

    .profile-picture {
        width: 50%;
        height: 50%;
    }

    .subtitle{
        font-size: 2.5vh;
    }
  }