:root {
  font-family: "Oswald", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0 auto;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  width: 100%; 
  max-width: 900px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/dtqgzojs3/image/upload/v1706029909/PortfolioIMGs/space-background_sebxxy.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
}

h1 {
  font-size: 5vh;
  font-weight: 300;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

h3 {
  font-size: 3vh;
  margin: 0;
  font-weight: 300;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #1e00ff0b;
  color: #fff;
  position: relative;
  bottom: 0;
  height: 100%;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0, 0, 0, 0.5) 100%);
}

::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: #071b32;
}
::-webkit-scrollbar-thumb {
  background: rgb(5 29 116);
  border-radius: 0.3rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(7 29 105);
}